<div class="bail-info">
        <div class="bail-section">
            <p class="bail-count">
    			您正在报名
    			<a href="//sf.taobao.com/notice_detail/312640.htm" target="_blank" class="link">《庆元县人民法院关于浙KH3475飞度牌小型轿车的公告(变卖)》</a>
									司法拍卖项目的
								<a href="//sf.taobao.com/sf_item/536611861043.htm" target="_blank" class="link">《浙KH3475飞度牌小型轿车》</a>，需锁定保证金
    			<span class="price"><i class="fn-ff-yahei">¥</i> 3,000 </span>
				请您勾选确认符合竞买条件后填写报名信息。
            </p>
            <p class="bail-desc">
                <strong>说明：</strong>此保证金仅适用于该项目。竞买成功后此保证金将直接抵扣货款，若未竞买成功则在竞买结束后三个工作日内释放至您的支付宝余额或银行卡。
								<a href="//www.taobao.com/markets/paimai/sf-helpcenter?path=sf-helpcenter-qa#c6" target="_blank">如何拿回保证金？</a>
				<a href="//www.taobao.com/markets/paimai/sf-helpcenter?path=sf-helpcenter-qa#c1" target="_blank">如何支付大额保证金？</a>
				            </p>
        </div>
</div>
<div class="bidder-info">
  <%=form_for :auction_foregift, url: prepare_auction_auction_foregifts_path(@auction )  do |form|%>

        <%= form.hidden_field :payment_method_id, value: @payment_method.id %>
        <input type="hidden" name="_fm.i._0.is" value="true">
        <input type="hidden" name="_fm.i._0.i" value="536611861043">
        <input type="hidden" name="event_submit_do_checkIdentity" value="1">
        <input type="hidden" name="_fm.i._0.a" value="20884224851293600156">
        <input type="hidden" name="_fm.i._0.ca" value="张哲">
        <div class="bidder-section">
            <div class="hd">
                <h3>
                    <p class="title fn-ff-yahei">1. 竞买人条件确认</p>
                    <p class="sub-title tips">因不符合条件参加竞买的，将取消您的竞得资格，竞买保证金不予退还并承担相应法律责任。</p>
                </h3>
            </div>
            <div class="bd agreement">
				请确认您符合以下竞买条件：

                								<div class="fields">
                    <input type="checkbox" name="" class="J_Qualification"> 竞买人知晓拍下不买的后果：保证金可能会被法院划扣并承担相应的司法处罚
                    <span class="J_Qualification_error error-msg">
                        <i class="iconfont-sf error-icon"></i>请确认符合条件
                    </span>
                </div>
                <div class="fields">
                    <input type="checkbox" name="" id="J_Agree"> 竞买人已阅读并同意
					<em id="J_Toggle" class="link">
						《竞拍服务协议》和《变卖应买协议》
					</em>
					，如未实地看样，视为接受标的所有瑕疵等细则
                    <span id="J_Agree_error" class="error-msg">
                        <i class="iconfont-sf error-icon"></i>请阅读竞拍服务协议
                    </span>
                </div>

                <div id="J_Agreement_content" class="agreement-content hidden">
					<div id="J_Agreement_detail" class="agreement-detail">
						<p style="text-align: center;"><span class="agreement_bold">竞拍服务协议</span></p>
						<p>本协议根据《中华人民共和国民事诉讼法》及最高人民法院相关司法解释所制定，请您仔细阅读本协议的全部内容（特别是以<span class="agreement_bold">粗体下划线</span>标注的内容）。如果您对协议内容有疑问，请通过淘宝客服渠道进行询问，淘宝将向您解释。如果您不同意本须知的任意内容，或者无法准确理解淘宝对内容的解释，请您不要继续进行下一步的操作。</p>
                        <p>1、淘宝网上涉及的司法拍卖系由浙江淘宝网络有限公司（以下简称“淘宝”）与全国各级人民法院（以下简称“法院”）合作进行的司法拍卖，由法院通过淘宝网上司法拍卖平台从事拍卖活动，淘宝提供司法拍卖平台相关的互联网信息服务及技术支持。</p>
                        <p>2、淘宝网上的司法拍卖活动应当遵循“公开、公平、公正、诚实信用”的原则，及时有效地变价处理涉案财产。</p>
                        <p><span class="agreement_bold">3、凡有意向通过淘宝网司法拍卖平台参拍的竞买人，均应自行了解淘宝网上司法拍卖页面公告、拍卖流程、拍卖规则等相关资料，如有疑问，可通过淘宝客服渠道进行询问。</span></p>
                        <p><span class="agreement_bold">4、凡竞买人参与网络司法拍卖的，均应遵守《淘宝服务协议》、淘宝规则以及淘宝发布的关于司法拍卖的特别规则及流程，并遵守法律规定。</span></p>
						<p>5、竞买人在具体参拍前，应当仔细阅读该项拍卖的《拍卖须知》，应当自行查阅该项拍卖标的物的相关拍卖资料，了解拍卖标的物受让人的资格或条件、网络司法拍卖流程、拍卖保证金的交纳、拍卖成交价款的支付、拍卖标的物的交付或变更、过户的相关条件等拍卖相关事宜，并保证符合相应受让人资格或条件，在参拍前已办理完毕相应的竞拍手续。一旦参拍，均被视为竞买人对《拍卖须知》的所有条款内容等资料已完全知悉、予以认可并承诺无异议。</p>
                        <p>6、淘宝网上司法拍卖的标的物均以法院委托的拍卖物现状进行拍卖，<span class="agreement_bold">竞买人须仔细阅读每项拍卖页面上提供的《拍卖须知》和标的物介绍等相关资料，认真咨询、实地看样，了解标的物现状的详细情况和具体信息，一旦做出竞买决定即表明您接受拍卖标的物的现状和一切已知及未知的瑕疵，未咨询或对标的物不了解而参加竞拍的责任自负。法院及淘宝均不承担任何瑕疵担保责任。</span></p>
						<p>7、拍卖资料如有修正或补充，法院可在拍卖开始前以页面通知的方式告知竞买人。竞买人一旦参拍，均视为已接受此修正或补充。</p>
						<p>8、在竞拍期间交纳保证金的人数不足二人的，视为不到有效竞买人数，拍卖无效。只有二人以上报名竞拍的，拍卖才具有效力。</p>
                        <p>9、淘宝网上司法拍卖均采用有保留价增价拍卖的形式，起拍价以拍卖开始时页面上设置的价格为准。竞拍结束时，竞买人的最高应价达到或超过拍卖保留价的，视为拍卖成交，该最高应价的竞买人为买受人；竞买人的最高应价达不到保留价的，视为流拍。<span class="agreement_bold">竞买人一经网上应价不得反悔，否则应承担违约责任。</span></p>
                        <p>10、在竞拍期间，<span class="agreement_bold">竞买人不得阻挠其他竞买人竞价，不得与其他竞买人相互串通、恶意压价等，一经发现，淘宝及法院有权拒绝其参加竞拍或取消其买受人资格，并追究相关法律责任。</span></p>
						<p>11、拍卖成交后，买受人需与法院签署司法拍卖成交确认书，并应在《拍卖须知》规定时间内付清所有拍卖成交款。买受人拒绝签署司法拍卖成交确认书或逾期未支付全部成交价款的，视为违约，保证金暂不予返还，并承担相应的违约责任；或者由人民法院决定重新拍卖，重新拍卖时，原买受人不得参加竞拍，重新拍卖价款低于原拍卖价款造成的差价、费用、损失由原买受人承担，法院可以从原买受人预交的保证金中直接扣除前述款项。扣除后保证金有剩余的将退还原买受人；保证金数额不足的，责令原买受人补交；拒不补交的，法院将强制执行。</p>
						<p>12、在拍卖成交后，法院依法定程序出具民事裁定书、协助执行通知书等法律文书，法律文书和标的实物的交付由买受人自行联系法院办理。</p>
						<p>13、法院因特殊情况有权在拍卖开始前作出暂缓拍卖或撤回拍卖的决定，法院及淘宝不向竞买人承担任何责任及一切费用，拍卖保证金将按规定全数退还（不计利息）。</p>
                        <p>14、淘宝负责"按现状"和"可得到"的状态向您提供互联网信息服务及技术支持。淘宝依法律规定承担基础保障义务，但<span class="agreement_bold">无法对由于因您的浏览器兼容问题、操作不当，信息网络设备维护、连接故障，电脑、通讯或其他系统的病毒、木马程序影响及故障，电力故障，罢工，暴乱，火灾，洪水，风暴，爆炸，战争，政府行为，司法行政机关的命令或因第三方原因而给您造成的损害结果承担责任。</span></p>
						<p><span class="agreement_bold">15、因不确定因素或不可抗力致使拍卖标的物不能办理变更过户手续或不能如期交割等一切事宜，法院及淘宝不承担相关责任。</span></p>
						<p>16、竞买人参与竞拍应提供本人个人资料、联系方式等个人信息，在拍卖过程中，在得到法院及竞买人许可的情况下，竞买人的个人信息可能会通过网络等渠道进行非商业性的传播。</p>
                        <p><span class="agreement_bold">17、竞买人因参与竞拍与淘宝发生纠纷的，由淘宝住所地人民法院管辖审理。</span></p>
						<p>18、拍卖未尽事宜，法院及淘宝在法律许可范围内享有最终解释权。</p>
						<p>&nbsp;</p>

                        <p style="text-align: center;"><span class="agreement_bold">变卖应买协议</span></p>
                        <p>本协议根据《最高人民法院关于人民法院民事执行中拍卖、变卖财产的规定》及国内外行业惯例所制定，请您仔细阅读本协议的全部内容（特别是以<span class="agreement_bold">粗体下划线</span>标注的内容）。如果您对协议内容有疑问，请通过淘宝客服渠道进行询问，淘宝将向您解释。如果您不同意本须知的任意内容，或者无法准确理解淘宝对内容的解释，请您不要继续进行下一步的操作。</p>
						<p>1、淘宝网上涉及的变卖系由浙江淘宝网络有限公司（以下简称“淘宝”）与全国各级人民法院（以下简称“法院”）合作进行的变卖，由法院通过淘宝网上变卖平台从事变卖活动，淘宝提供变卖平台相关的互联网信息服务及技术支持。</p>
						<p>2、淘宝网上的变卖活动应当遵循“公开、公平、公正、诚实信用”的原则，及时有效地变价处理涉案财产。</p>
                        <p><span class="agreement_bold">3、凡有意向通过淘宝网变卖平台参加变买的应买人，均应自行了解淘宝网上变卖页面公告、变卖流程、变卖规则等相关资料，如有疑问的，可通过淘宝客服渠道进行询问。</span></p>
                        <p><span class="agreement_bold">4、凡应买人参与网络司法变卖的，均应遵守《淘宝服务协议》、淘宝规则以及淘宝发布的关于变卖的特别规则及流程，并遵守法律规定。</span></p>
						<p>5、应买人在具体参加变卖前，应当仔细阅读该项变卖的《变卖须知》，应当自行查阅该项变卖标的物的相关变卖资料，了解变卖标的物受让人的资格或条件、网络司法变卖流程、变卖保证金的交纳、变卖成交价款的支付、变卖标的物的交付或变更、过户的相关条件等变卖相关事宜，并保证符合相应受让人资格或条件，在参加变卖前已办理完毕相应手续。一旦参加变卖，均被视为应买人对《变卖须知》的所有条款内容等资料已完全知悉、予以认可并承诺无异议。</p>
                        <p>6、淘宝网上变卖标的物均以法院委托的变卖物现状进行变卖，<span class="agreement_bold">应买人须仔细阅读每项变卖页面上提供的《变卖须知》和标的物介绍等相关资料，认真咨询、实地看样，了解标的物现状的详细情况和具体信息，一旦做出应买决定即表明您接受变卖标的物的现状和一切已知及未知的瑕疵，未咨询或对标的物不了解而参加变卖的责任自负。法院及淘宝均不承担任何瑕疵担保责任。</span></p>
						<p>7、变卖资料如有修正或补充，法院可在变卖开始前以页面通知的方式告知应买人。应买人一旦参加变卖，均视为已接受此修正或补充。</p>
                        <p>8、淘宝上司法变卖起价以变卖开始时页面上设置的价格为准。变卖结束时，以最高应价为变卖成交价。<span class="agreement_bold">应买人一经网上应价不得反悔，否则应承担违约责任。</span></p>
                        <p>9、在变卖期间，<span class="agreement_bold">应买人不得阻挠其他应买人应价，不得与其他应买人相互串通、恶意压价等，一经发现，淘宝及法院有权拒绝其参加应买或取消其买受人资格，并追究相关法律责任。</span></p>
						<p>10、变卖成交后，买受人需与法院签署变卖成交确认书，并应在《变卖须知》规定时间内付清所有变卖成交款。买受人拒绝签署变卖成交确认书或逾期未支付全部成交价款的，视为违约，保证金不予返还，并承担相应的违约责任，或者由人民法院决定重新变卖。重新变卖时，原买受人不得参加应买，重新变卖价款低于原变卖价款造成的差价、费用、损失由原买受人承担，法院可以从原买受人预交的保证金中直接扣除前述款项。扣除后保证金有剩余的将退还原买受人；保证金数额不足的，责令原买受人补交；拒不补交的，法院将强制执行。</p>
						<p>11、在变卖成交后，法院依法定程序出具民事裁定书、协助执行通知书等法律文书，法律文书和标的实物的交付由买受人自行联系法院解决。</p>
						<p>12、法院因特殊情况有权在变卖开始前作出暂缓变卖或撤回变卖的决定，法院及淘宝不向应买人承担任何责任及一切费用，变卖保证金将按规定全数退还（不计利息）。</p>
                        <p>13、淘宝负责"按现状"和"可得到"的状态向您提供互联网信息服务及技术支持。淘宝依法律规定承担基础保障义务，但<span class="agreement_bold">无法对由于因您的浏览器兼容问题、操作不当，信息网络设备维护、连接故障，电脑、通讯或其他系统的病毒、木马程序影响及故障，电力故障，罢工，暴乱，火灾，洪水，风暴，爆炸，战争，政府行为，司法行政机关的命令或因第三方原因而给您造成的损害结果承担责任。</span> </p>
						<p><span class="agreement_bold">14、因不确定因素或不可抗力致使变卖标的物不能办理变更过户手续或不能如期交割等一切事宜，法院及淘宝不承担相关责任。</span></p>
						<p>15、应买人参加变卖应提供本人个人资料、联系方式等个人信息，在变卖过程中应买人的个人信息可能会通过网络等渠道进行传播。</p>
                        <p><span class="agreement_bold">16、应买人因参加应买与淘宝发生纠纷的，由淘宝住所地人民法院管辖审理。</span></p>
					</div>
                </div>
				            </div>
        </div>
        <div class="bidder-section">
            <div class="hd">
                <h3>
                    <p class="title fn-ff-yahei">2. 竞买人身份确认</p>
                    <p class="sub-title tips">标的物交割时将核实该信息，请保证其真实有效，如非本人购买，请提前与资产处置单位确认是否可行。</p>
                </h3>
            </div>
            <div class="bd">
                <table>
                    <tbody><tr>
                        <td class="required">*</td>
                        <td class="labeld"><label>竞买人姓名：</label></td>
                        <td class="fields">张哲<span style="color: #999;font-weight: normal;margin-left: 20px;">(竞价成功后，将以此身份办理过户，如有委托，请咨询资产处置单位)</span></td>
                    </tr>
                    <tr>
                        <td class="required">*</td>
                        <td class="labeld"><label>支付宝账号：</label></td>
                        <td class="fields">48551006@qq.com</td>
                    </tr>
                    <tr>
                        <td class="required">*</td>
                        <td class="labeld"><label>证件类型：</label></td>
                        <td class="fields">
                            <div id="ks-component101" class="bf-select bf-menu-button bf-button" tabindex="0" role="button" title="" aria-describedby="" aria-expanded="false" aria-haspopup="true" style="width: 130px; -webkit-user-select: none;"><div id="ks-content-ks-component101" class="bf-select-content bf-menu-button-content bf-button-content" style="-webkit-user-select: none;">身份证号</div>
<div class="bf-select-dropdown bf-menu-button-dropdown bf-button-dropdown">
    <div class="bf-select-dropdown-inner bf-menu-button-dropdown-inner bf-button-dropdown-inner">
    </div>
</div></div><select name="_fm.i._0.c" id="J_CardType" class="invisiable" style="display: none;">
								                                <option value="2">身份证号</option>
                                <option value="3">台胞证</option>
                                <option value="4">港澳证件(回乡证)</option>
                                <option value="5">护照</option>
								                            </select>
                            <input type="text" class="input normal-input card-num" name="_fm.i._0.car" value="" id="J_CardNum" placeholder="支付宝账号对应的证件号码">
                            <div id="J_Card_error" class="error-msg card-error"><i class="iconfont-sf error-icon"></i>    </div>
                            <div id="J_CardTips" class="card-tips" data-type="sf" style="display: none;"></div>
                        </td>
                    </tr>
                    <tr>
                        <td class="required">*</td>
                        <td class="labeld"><label for="J_TelNum">手机号码：</label></td>
                        <td class="fields">

                            <input type="text" name="_fm.i._0.p" class="input small-input" id="J_TelNum" placeholder="请填写手机号码" value="13889611691">
                            <span id="J_Tel_error" class="error-msg tel-error"><i class="iconfont-sf error-icon"></i>手机号码为空或格式不正确</span>

                        </td>
                    </tr>
                    <tr>
                        <td class="required">*</td>
                        <td class="labeld"><label>所在地区：</label></td>
                        <td class="fields">
                            <div id="ks-component413" class="bf-select bf-menu-button bf-button

" tabindex="0" role="button" title="" aria-describedby="" aria-expanded="false" aria-haspopup="true" style="width: 105px; -webkit-user-select: none;"><div id="ks-content-ks-component413" class="bf-select-content bf-menu-button-content bf-button-content" style="-webkit-user-select: none;">辽宁省</div>
<div class="bf-select-dropdown bf-menu-button-dropdown bf-button-dropdown">
    <div class="bf-select-dropdown-inner bf-menu-button-dropdown-inner bf-button-dropdown-inner">
    </div>
</div></div><select name="" id="J_Province" class="invisiable" style="display: none;">

                            <option value="-1">请选择省</option><option value="110000">北京</option><option value="120000">天津</option><option value="130000">河北省</option><option value="140000">山西省</option><option value="150000">内蒙古自治区</option><option value="210000">辽宁省</option><option value="220000">吉林省</option><option value="230000">黑龙江省</option><option value="310000">上海</option><option value="320000">江苏省</option><option value="330000">浙江省</option><option value="340000">安徽省</option><option value="350000">福建省</option><option value="360000">江西省</option><option value="370000">山东省</option><option value="410000">河南省</option><option value="420000">湖北省</option><option value="430000">湖南省</option><option value="440000">广东省</option><option value="450000">广西壮族自治区</option><option value="460000">海南省</option><option value="500000">重庆</option><option value="510000">四川省</option><option value="520000">贵州省</option><option value="530000">云南省</option><option value="540000">西藏自治区</option><option value="610000">陕西省</option><option value="620000">甘肃省</option><option value="630000">青海省</option><option value="640000">宁夏回族自治区</option><option value="650000">新疆维吾尔自治区</option><option value="710000">台湾</option><option value="810000">香港特别行政区</option><option value="820000">澳门特别行政区</option><option value="990000">海外</option></select>
                            <div id="ks-component2158" class="bf-select bf-menu-button bf-button

" tabindex="0" role="button" title="" aria-describedby="" aria-expanded="false" aria-haspopup="true" style="width: 92px; -webkit-user-select: none;"><div id="ks-content-ks-component2158" class="bf-select-content bf-menu-button-content bf-button-content" style="-webkit-user-select: none;">大连市</div>
<div class="bf-select-dropdown bf-menu-button-dropdown bf-button-dropdown">
    <div class="bf-select-dropdown-inner bf-menu-button-dropdown-inner bf-button-dropdown-inner">
    </div>
</div></div><select name="" id="J_City" class="invisiable" style="display: none;">

                            <option value="210100">沈阳市</option><option value="210200">大连市</option><option value="210300">鞍山市</option><option value="210400">抚顺市</option><option value="210500">本溪市</option><option value="210600">丹东市</option><option value="210700">锦州市</option><option value="210800">营口市</option><option value="210900">阜新市</option><option value="211000">辽阳市</option><option value="211100">盘锦市</option><option value="211200">铁岭市</option><option value="211300">朝阳市</option><option value="211400">葫芦岛市</option></select>
                            <div id="ks-component2913" class="bf-select bf-menu-button bf-button

" tabindex="0" role="button" title="" aria-describedby="" aria-expanded="false" aria-haspopup="true" style="width: 95px; -webkit-user-select: none;"><div id="ks-content-ks-component2913" class="bf-select-content bf-menu-button-content bf-button-content" style="-webkit-user-select: none;">沙河口区</div>
<div class="bf-select-dropdown bf-menu-button-dropdown bf-button-dropdown">
    <div class="bf-select-dropdown-inner bf-menu-button-dropdown-inner bf-button-dropdown-inner">
    </div>
</div></div><select name="" id="J_Area" class="invisiable" style="display: none;">

                            <option value="210202">中山区</option><option value="210203">西岗区</option><option value="210204">沙河口区</option><option value="210211">甘井子区</option><option value="210212">旅顺口区</option><option value="210213">金州区</option><option value="210224">长海县</option><option value="210251">开发区</option><option value="210281">瓦房店市</option><option value="210282">普兰店市</option><option value="210283">庄河市</option><option value="210297">岭前区</option><option value="210298">其它区</option></select>
                            <input type="hidden" id="J_Address" name="_fm.i._0.ad" value="辽宁省大连市 ">
                            <input type="hidden" name="" id="J_Province_default" value="辽宁省">
                            <input type="hidden" name="" id="J_City_default" value="大连市">
                            <input type="hidden" name="" id="J_Area_default" value="沙河口区">
                            <span id="J_Area_error" class="error-msg area-error" style="display: none;"><i class="iconfont-sf error-icon"></i>请选择所在地区</span>
                        </td>
                    </tr>
                    <tr>
                        <td class="required">*</td>
                        <td class="labeld"><label for="J_Street">所在街道：</label></td>
                        <td class="fields">
                            <textarea name="_fm.i._0.s" id="J_Street" class="street-input">兴工街道 尚品天城2号楼2单元2506室</textarea>
                            <span id="J_Street_error" class="error-msg street-error"><i class="iconfont-sf error-icon"></i>街道地址不能为空</span>
                        </td>
                    </tr>
                                    </tbody></table>
            <div class="priority-tip">
				<img src="//img.alicdn.com/tps/i3/TB13flbHXXXXXcuaXXX1DxgFpXX-17-17.png">
				注意：如果您为优先购买权人，提供给资产处置单位作为优先权人凭证的证件号码必须与支付宝账号认证时的证件号码一致。
				<br>报名成功后，在您竞买号后可看到<span class="priority"></span>字标示，如何行使优先权
								<a href="//www.taobao.com/markets/paimai/sf-helpcenter?path=sf-helpcenter-mcjs#m8" target="_blank">请点此了解 &gt;</a>
							</div>

            <div class="submit-content">
                    <input type="submit" id="J_Submit" class="submit disabled" value="确认并缴纳保证金">
                                    </div>
            </div>
        </div>
      <% end %>
    </div>
