<div class="auction-process-container">
  <div class="auction-process">
      <h3><a href="https://www.taobao.com/markets/paimai/sf-helpcenter?path=sf-helpcenter-sy#s3" target="_blank">竞拍流程</a></h3>
      <div class="auction-process-help"><a href="//www.taobao.com/go/act/auction/sfguide.php" target="_blank">更多帮助</a></div>
  </div>
      <div class="auction-process-step-container">
         <div class="auction-process-step J_Step">
          <div><a href="https://www.taobao.com/markets/paimai/sf-helpcenter?path=sf-helpcenter-sy#s3" target="_blank"><span>1</span>拍前准备</a></div>
          <ul>
              <li><a href="//www.taobao.com/market/paimai/daikuan.php" target="_blank" style="color:#dc2625;">金融贷款服务</a></li>
              <li><a href="https://www.taobao.com/markets/paimai/sf-helpcenter?path=sf-helpcenter-qa#c16" target="_blank">不阅读公告及不看样的后果</a></li>
          </ul>
      </div>
         <div class="auction-process-step J_Step">
          <div><a href="https://www.taobao.com/markets/paimai/sf-helpcenter?path=sf-helpcenter-sy#s3" target="_blank"><span>2</span>报名交保证金</a></div>
          <ul>
              <li><a href="https://www.taobao.com/markets/paimai/sf-helpcenter?path=sf-helpcenter-qa#c1" target="_blank" style="color:#dc2625;">如何交纳大额保证金</a></li>
              <li><a href="https://www.taobao.com/markets/paimai/sf-helpcenter?path=sf-helpcenter-qa#c6" target="_blank">如何退回保证金</a></li>
          </ul>
      </div>
         <div class="auction-process-step J_Step">
          <div><a href="https://www.taobao.com/markets/paimai/sf-helpcenter?path=sf-helpcenter-sy#s3" target="_blank"><span>3</span>出价竞拍</a></div>
          <ul>
              <li><a href="https://www.taobao.com/markets/paimai/sf-helpcenter?path=sf-helpcenter-pmgz#g3" target="_blank">怎样才算成交</a></li>
              <li><a href="https://www.taobao.com/markets/paimai/sf-helpcenter?path=sf-helpcenter-qa#c11" target="_blank">网拍用什么浏览器？</a></li>
          </ul>
      </div>
         <div class="auction-process-step J_Step">
          <div><a href="https://www.taobao.com/markets/paimai/sf-helpcenter?path=sf-helpcenter-sy#s3" target="_blank"><span>4</span>竞拍成功</a></div>
          <ul>
              <li><a href="https://www.taobao.com/markets/paimai/sf-helpcenter?path=sf-helpcenter-qa#c12" target="_blank" style="color:#dc2625;">过户这样办理！</a></li>
              <li><a href="https://www.taobao.com/markets/paimai/sf-helpcenter?path=sf-helpcenter-jmlc#l6" target="_blank">如何支付余款</a></li>
          </ul>
      </div>
       <div class="auction-process-step J_Step auction-process-step-last">
          <div><a href="https://www.taobao.com/markets/paimai/sf-helpcenter?path=sf-helpcenter-sy#s3" target="_blank"><span>5</span>办理交割</a></div>
          <ul>
              <li><a href="https://www.taobao.com/markets/paimai/sf-helpcenter?path=sf-helpcenter-jmlc#l7" target="_blank">如何办理后续手续</a></li>
              <li><a href="https://www.taobao.com/markets/paimai/sf-helpcenter?path=sf-helpcenter-qa#c9" target="_blank">售后问题怎么办</a></li>
          </ul>
      </div>
  </div>
</div>
