<div class="pm-bid-right">
    	<div id="verifyPayResult" class="verify-pay-result fake-hidden"><span>交保遇到问题</span></div>
       	<div class="buy-helper">
    <h3>竞买帮助</h3>
	 								  <ul>

         <li><span class="helper-tag">准备</span><a target="_blank" href="//www.taobao.com/markets/paimai/sf-helpcenter?path=sf-helpcenter-jmlc#l2">拍卖前我要准备什么?</a></li>

         <li><span class="helper-tag">看样</span><a target="_blank" href="//www.taobao.com/markets/paimai/sf-helpcenter?path=sf-helpcenter-qa#c14">不看样的后果</a></li>

         <li><span class="helper-tag">公告</span><a target="_blank" href="//www.taobao.com/markets/paimai/sf-helpcenter?path=sf-helpcenter-qa#c16">不阅读公告的后果</a></li>

  </ul>
			</div>                    <div class="zc-service">
  <h2 class="hd"><a target="_blank" href="//www.taobao.com/markets/paimai/fuwu?wh_cat=50025969&amp;wh_loc=1&amp;wh_type=10#guid-394273">资产交易服务 <i class="iconfont-sf right"></i></a></h2>
  <div class="bd">
    <ul class="clearfix">
                  <li><a target="_blank" href="//www.taobao.com/markets/paimai/fuwu?wh_cat=50025969&amp;wh_loc=1&amp;wh_type=10#guid-394273"><i class="icon consulting"></i><span class="text">拍卖咨询</span></a></li>
                          <li><a target="_blank" href="//www.taobao.com/markets/paimai/fuwu?wh_cat=50025969&amp;wh_loc=1&amp;wh_type=20#guid-394273"><i class="icon loan"></i><span class="text">贷款服务</span></a></li>
                          <li><a target="_blank" href="//www.taobao.com/markets/paimai/fuwu?wh_cat=50025969&amp;wh_loc=1&amp;wh_type=50#guid-394273"><i class="icon ensure"></i><span class="text">交易保障险</span></a></li>
                </ul>
  </div>
</div>
	<div class="share-wrap">
	<div class="qr-wrap">
		<p>扫码用手机出价</p>
		<img alt="二维码" src="//gqrcode.alicdn.com/img?type=hv&amp;w=124&amp;h=124&amp;text=http%3A%2F%2Fm.taohua.com%2Fmarkets%2Fpaimai%2Fwechat_guide%3Fauction_url%3Dhttp%253A%252F%252Ftb.cn%252FLUlqLVx">
	</div>
	<p class="share-line">
		<a data-shareparam="{&quot;title&quot;:&quot;车库、砖平房&quot;,
        &quot;type&quot; : &quot;item&quot;,
        &quot;key&quot;: &quot;536626576239&quot;,
                &quot;client_id&quot;: 177742,                 &quot;linkurl&quot;:&quot;//sf.taobao.com/auction.htm?id=536626576239&quot;,
        &quot;comment&quot;:&quot;我正在@淘宝拍卖会 上玩拍卖，现在关注的是「车库、砖平房」，一旦出手，势在必得！玩儿的是心跳，拍得就是捡漏！&quot; ,
        &quot;itempic&quot;:&quot;//img.alicdn.com/bao/uploaded/i4/TB1bfvTLXXXXXbEXXXXnPL7.pXX&quot;}" aria-label="tab键导航" aria-haspopup="0" tabindex="0" rel="nofollow" target="_top" class="share-btn J_ShareBtn" href="#">
            <span class="iconfont-sf"></span> 分享给好友
        </a>
    </p>
</div>   </div>
