
  <div class="clearfix auction-detail">

    <div class="right-section">
      <%= render :partial => "auction_form" %>
      <% if @auction.doing? %>
        <% if @auction.allowed_to_offer?(spree_current_user) %>
        <%= render :partial=>'time_to_end_countdown'%>
        <% end %>
      <% end %>
    </div>
  </div>
