
        <div id="payTipModal" class="modal-content hidden">
            <div class="modal-header">
                <p class="modal-title">网上支付提示</p>

            </div>
            <div class="modal-body">
              <p>请根据您的支付情况，点击下方按钮。</p>
            </div>
            <div class="modal-footer">
                <a class="btn pay-success" onclick="javascript:$.simplemodal.close();">支付完成</a>
                <a class="btn pay-error" onclick="javascript:$.simplemodal.close();">支付遇到问题</a>
            </div>
        </div>
