<div class="hidden J_PayType_5">
<ul class="pay-type-list">
    <li><h4>1.个人网银<b>（推荐）</b></h4><p>招商银行、浦发银行、中国银行、交通银行、农业银行、建设银行、邮储银行、工商银行</p></li>
    <li><h4>2.企业网银</h4><p>工商银行、招商银行、浦发银行、农业银行、建设银行、中国银行</p></li>
    <li><h4>3.银行卡快捷支付</h4><p>工商银行、招商银行、浦发银行、农业银行、建设银行、交通银行、邮储银行</p></li>
    <li><h4>4.支付宝余额和余额宝</h4></li>
</ul>
</div>
<div class="hidden J_PayType_50">
<ul class="pay-type-list">
    <li><h4>1.个人网银<b>（推荐）</b></h4><p>招商银行、浦发银行、中国银行、交通银行、农业银行、建设银行、邮储银行、工商银行</p></li>
    <li><h4>2.企业网银</h4><p>工商银行、招商银行、浦发银行、农业银行、建设银行、中国银行</p></li>
    <li><h4>3.银行卡快捷支付</h4><p>工商银行、招商银行、浦发银行、农业银行、建设银行、交通银行、邮储银行</p></li>
    <li><h4>4.支付宝余额和余额宝</h4></li>
</ul>
</div>
<div class="hidden J_PayType_100">
<ul class="pay-type-list">
    <li><h4>1.个人网银<b>（推荐）</b></h4><p>招商银行、浦发银行、中国银行、交通银行、农业银行、建设银行、邮储银行、工商银行</p></li>
    <li><h4>2.企业网银</h4><p>工商银行、招商银行、浦发银行、农业银行、建设银行、中国银行</p></li>
    <li><h4>3.银行卡快捷支付</h4><p>工商银行、招商银行、浦发银行、农业银行、建设银行、交通银行、邮储银行</p></li>
    <li><h4>4.支付宝余额和余额宝</h4></li>
</ul>
</div>
<div class="hidden J_PayType_200">
<ul class="pay-type-list">
    <li><h4>1.个人网银<b>（推荐）</b></h4><p>招商银行、浦发银行、中国银行、交通银行、农业银行、建设银行、邮储银行、工商银行</p></li>
    <li><h4>2.企业网银</h4><p>工商银行、招商银行、浦发银行、农业银行、建设银行、中国银行</p></li>
    <li><h4>3.银行卡快捷支付</h4><p>工商银行、招商银行、浦发银行、农业银行、建设银行、交通银行、邮储银行</p></li>
    <li><h4>4.支付宝余额和余额宝</h4></li>
</ul>
</div>
<div class="hidden J_PayType_200_over">
<ul class="pay-type-list">
    <li><h4>1.个人网银<b>（推荐）</b></h4><p>招商银行、浦发银行、中国银行、交通银行、农业银行、建设银行、邮储银行、工商银行</p></li>
    <li><h4>2.企业网银</h4><p>工商银行、招商银行、浦发银行、农业银行、建设银行、中国银行</p></li>
    <li><h4>3.银行卡快捷支付</h4><p>工商银行、招商银行、浦发银行、农业银行、建设银行、交通银行、邮储银行</p></li>
    <li><h4>4.支付宝余额和余额宝</h4></li>
</ul>
</div>
