<div class="footer">
  <div class="idle-footer ">
    <div class="idle-footer-info">
      <div class="idle-footer-download">
            <span class="idle-footer-slogan">
              <%= image_tag "banner.png", alt: "闲置能换钱" %>
            </span>
      </div>
    </div>
    <div class="idle-footer-links">
      <div class="idle-footer-links-box" >
        <a class="idle-footer-link-auth" target="_self" href="#nogo">卖家实名认证</a>
        <a class="idle-footer-link-alipay" target="_self" href="#nogo">支付宝担保交易</a>
        <a class="idle-footer-link-team" target="_self" href="#nogo">专业团队支撑</a>
        <a class="idle-footer-link-weibo" href="">官方微博</a>
      </div>
    </div>
  </div>

</div>
<%= render partial: 'spree/shared/js_tmpl' %>
