<div id="paile-header">
    <div class="container site-nav">
      <div class="row site-nav-bd">
        <%= render :partial => 'spree/shared/nav_bar' %>
      </div>
    </div>
  <div  id="header" class="container">
    <%= render :partial => 'spree/shared/main_nav_bar' if store_menu? %>
  </div>
</div>
