<script id="j_time_left" type="text/template">
<span class="J_TimeLeft"><var class="pai-hour"><em>{{lasting.hours}}</em>时</var><var class="pai-minute"><em>{{lasting.minutes}}</em>分</var><var class="pai-second"><em>{{lasting.seconds}}</em>秒</var></span>
</script>

<script id="j_datetime_left" type="text/template">
<span class="countdown J_TimeLeft"><var>{{lasting.days}}</var><em>天</em><var>{{lasting.hours}}</var><em>时</em><var>{{lasting.minutes}}</var><em>分</em><var>{{lasting.seconds}}</var><em>秒</em></span>
</script>
