<div class="taxon floor" data-hook="taxon">
  <div class="hd">
    <h2 class="subtaxon-title"><%= link_to taxon.name, seo_url(taxon), class: 'breadcrumbs' %></h2>
  </div>
  <div class="sf-item-list">
    <%= render partial: 'spree/shared/products', locals: { products: taxon_preview(taxon), taxon: taxon } %>
  </div>
</div>
